body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://i.pinimg.com/564x/be/bd/ba/bebdbac2cfca85923c9633d44be7e464.jpg);
    background-position-x: center ;
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-size: 40%;
    font-family: ogg;
}

#content {
    margin-left: 39%;
    margin-top: 210px;

}

#inputEmail{
    width: 35%;
    margin: 0;
    padding: 0 0 0 6px;
    height: 40px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    outline: 0 !important;
}

.email{
    margin-bottom: 10px;
}

.pass{
    margin-bottom: 10px;
}

#inputPass {
    width: 35%;
    margin: 0;
    padding: 0 0 0 6px;
    height: 40px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    outline: 0 !important;
}

#inputcfPass {
    width: 35%;
    margin: 0 0 30px 0;
    padding: 0 0 0 6px;
    height: 40px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    outline: 0 !important;
}

a {
    text-decoration: none;
}

.signInBtn {
    height: 50px;
    width: 35%;
    background-color: black;
    color: #fffa69;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}

.ghost {
    margin: 0px 0px;
    color: red;
    display: none;
}

.term {
    margin: 20px 0px 10px 0px;
}

@font-face {
    font-family: Ogg;
    src: url(ogg.otf);
}
